.main-content {
  @media screen and (max-width: @tablet-breakpoint) {
    max-width: 100%;
  }
}

.blog-post {
  @media screen and (max-width: @tablet-breakpoint) {
    position: relative;
    width: 100%;
  }

  &__container {
    width: @contentWidth;
    color: @fontColor;

    @media screen and (max-width: @tablet-breakpoint) {
      margin: 0 auto;
    }
  }

  &__header {
    font-size: 1.29em;
    font-family: "Arial Narrow", sans-serif;
    font-weight: 700;
    margin-top: 6px;
    margin-bottom: 8px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    height: 38px;
    border-top: 1px solid #e2e5e8;
    border-bottom: 1px solid #e2e5e8;
    align-items: center;
    font-family: Arial, sans-serif;
  }

  &__post-data {
    display: flex;
    font-family: sans-serif;
    font-size: 0.75em;
  }

  &__author {
    margin-left: 10px;
  }

  &__date {
    margin-left: 5px;
  }

  &__data-icon {
    fill: #a2aab2;
    vertical-align: -2px;

    &.blog-post__data-icon--date {
      width: 12px;
      height: 12px;
      margin-right: 4px;
    }

    &.blog-post__data-icon--author {
      width: 14px;
      height: 14px;
      margin-right: 4px;
      margin-left: 8px;
    }
  }

  &__text {
    margin-top: 12px;
    margin-bottom: 53px;
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 0.79em;
    text-align: justify;
    line-height: 18px;
  }
}

.share-menu {
  display: flex;
  align-items: center;
  height: 38px;

  @media screen and (max-width: @tablet-breakpoint) {
    position: absolute;
    right: 0;
    top: 0;
    align-items: flex-end;
    flex-direction: column;
    height: 152px;
    justify-content: space-between;
  }

  &__button {
    display: inline-flex;
    height: 24px;
    background-color: #d4dce5;
    border-radius: 3px;
    text-align: right;
    line-height: 25px;
    white-space: nowrap;
    padding-right: 6px;
    font-family: Arial, sans-serif;
    font-size: 0.875em;
    color: white;
    margin-left: 5px;
    cursor: pointer;
    user-select: none;

    &--facebook:hover {
      background-color: #3c5a98;
    }

    &--gplus:hover {
      background-color: #c25234;
    }

    &--twitter:hover {
      background-color: #00aced;
    }

    &--vk:hover {
      background-color: #48729e;
    }

    &--yaru:hover {
      background-color: #d83933;
    }

    @media screen and (max-width: @tablet-breakpoint) {
      &--facebook {
        background-color: #3c5a98;
      }

      &--gplus {
        background-color: #c25234;
      }

      &--twitter {
        background-color: #00aced;
      }

      &--vk {
        background-color: #48729e;
      }

      &--yaru {
        background-color: #d83933;
      }

      &:hover {
        background-color: #d4dce5;
      }
    }
  }

  &__icon {
    float: left;
    margin-top: 2px;
    margin-left: 3px;
    height: 100%;
    width: 25px;
    fill: currentColor;

    &--gplus {
      margin-left: 0;
      padding-right: 5px;
    }
  }
}