.blog-post {
  width: 640px;
  margin-bottom: 60px;
  color: #69747c;
}

.blog-post__header {
  font-size: 1.1em;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog-post__info {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e2e5e8;
  border-bottom: 1px solid #e2e5e8;
  //padding-top: 5px;
  //padding-bottom: 5px;
  align-items: center;
}

.blog-post__post-data {
  display: flex;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 0.8em;
}

.blog-post__share {
  display: flex;
  align-items: center;
  height: 38px;
}

.share-button {
  display: inline-flex;
  //justify-content: space-between;
  //width: 40px;
  height: 24px;
  border-radius: 3px;
  background-color: #d4dce5;
  text-align: right;
  line-height: 25px;
  white-space: nowrap;
  padding-right: 8px;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  margin-left: 5px;
  cursor: pointer;
  user-select: none;
}

.share-button:hover {
  background-color: #c6defa;
}

.blog-post__text {
  margin-top: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  text-align: justify;
}

.blog-post__data-icon {
  width: 14px;
  height: 14px;
  fill: #a2aab2;
  vertical-align: -2px;
  margin-right: 2px;
}

.blog-post__author {
  margin-left: 10px;
}

.blog-post__date {
  margin-left: 5px;
}

.share-button__icon {
  float: left;
  margin-top: 2px;
  margin-left: 3px;
  height: 100%;
  width: 25px;
  fill: currentColor;
}

.share-button__icon--gplus {
  margin-left: 0;
  padding-right: 5px;
}
