.loader-container {
  position: absolute;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 160px;
  height: 160px;
  line-height: 0;
  font-size: 0;
  animation: loaderRotate 1s linear infinite;

  &__circle {
    position: absolute;
    top: 10px;
    left: 250px;
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background-color: white;
  }

  &__spinner {
    position: relative;
    overflow: hidden;
    display: inline-block;
    height: 160px;
    width: 80px;

    &:before{
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 160px;
      border-radius: 100%;
      background: linear-gradient(0deg, @mainColor 0%, white 100%);
    }

    &--left:before {
      left: 0;
    }

    &--right:before {
      right: 0;
    }
  }
}

@keyframes loaderRotate {
  0%   {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}