@mainColor: #6b9ad0;
@minorColor: #6a94b5;
@secondColor: #c6defa;
@fontColor: #69747c;

@logoHeight: 87px;
@menuHeight: 54px;
@contentWidth: 640px;
@pageWidth: 923px;
@sidebarWidth: 255px;

@loaderSize: 46px;
@loaderThickness: 6px;
@loaderHoleSize: @loaderSize - @loaderThickness * 2;

@tablet-breakpoint: 939px;
@mobile-breakpoint: 473px;

@desktop: ~"screen and (min-width: 939px)";
@tablet: ~"screen and (max-width: 939px)";
@tablet-min: ~"screen and (max-width: 760px)";
@mobile: ~"screen and (max-width: 522px)";
@mobile-min: ~"screen and (max-width: 315px)";
